@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    @apply font-sans antialiased text-slate-900 dark:text-slate-50 bg-white dark:bg-slate-950;
  }

  html {
    scroll-behavior: smooth;
  }

  ::selection {
    @apply bg-brand-teal/30 text-brand-teal;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}